 body {
        margin: 0px;
    }
    .pagetitle {
        transition: 1s;
        font-family: Muli, Sans-Serif;
        font-weight: 1000;
        background-color: #ff9900;
        color: white;
        font-size: 24pt;
        text-shadow: 0px 2px 0px gray;
        box-shadow: 0px 4px 0px #db870a, 0px 8px 16px rgba(0,0,0,0.25);
        display: block;
        width: 100%;
        height: 56px;
        text-align: center;
        padding-top: 12px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .pagetitle:hover {
        transition: 1s;
    }
    .navbar {
        transition: 1s;
        overflow: hidden;
        background-color: #ff5d00;
        position: fixed;
        top: 0;
        width: 100%;
        font-family: Muli, Sans-Serif;
        z-index: 5;
    }
    .navbar:hover {
        border-bottom: none;
    }

    .navbar a {
        transition: 1s;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 24px;
        text-decoration: none;
        font-size: 16pt;
    }

    .navbar a:hover {
        background: orange;
        color: white;
        box-shadow: 0px 4px 0px #ff9900;
        margin-bottom: 4px;
        transition: 0.5s;
    }
    .topbanner {
        transition: 1s;
        width: 85%;
        height: 240px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.35em;
        background-image: url(https://image.ibb.co/kFEhVS/Mecha_Puma_Channel_Banner_Cropped.jpg);
        background-attachment: scroll;
        background-clip: padding-box;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main {
        width: 85%;
        height: 2440px;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-family: Muli, Sans-Serif;
        font-weight: 100;
        font-size: 14pt;
    }
    h3 {
        font-family: Muli, Sans-Serif;
        font-weight: 600;
        background-color: greenyellow;
        padding: 1.5%;
    }
    .iframestyle {
        border: none;
        box-shadow: 0px 4px 16px rgba(0,0,0,0.25);
        display: block;
        width: 100%;
        height: 15%;
        max-width: 100%;
        max-height: 15%;
        z-index: 1;
    }
    .leftbar {
        overflow: hidden;
        margin-top: none;
        background-color: white;
        z-index: 3;
    }
    .menufooter {
        all: initial;
        display: block;
        width: 100%;
        height: 5%; 20px;
        min-height: 40px;
        overflow: hidden;
        background-color: #ff5d00;
        color: white;
        font-family: Muli, Sans-Serif;
        text-align: center;
        padding-top: 10px;
        box-sizing: border-box;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 3;
    }
    .pfpimgtop {
        width: 44px;
        height: 44px;
        position: relative;
        border-radius: 100%;
        max-width: 44px;
        min-width: 44px;
        max-height: 44px;
        min-height: 44px;
        margin-left: 10%;
        margin-top: 7.5%;
    }
    .pfpimg {
        width: 44px;
        height: 44px;
        position: relative;
        border-radius: 100%;
        max-width: 44px;
        min-width: 44px;
        max-height: 44px;
        min-height: 44px;
        margin-left: 10%;
        margin-top: 0%;
    }
    .pfpimg:hover {
        transition: 1s;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
        position: static;
        border: 4px solid transparent;
        margin-left: 20px;
        margin-top: -4px;
        margin-bottom: -4px;
    }
    .pfpimgtop:hover {
        transition: 1s;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
        position: static;
        border: 4px solid transparent;
        margin-left: 20px;
        margin-top: 14px;
        margin-bottom: -4px;
    }
    .pfptxt {
        transition: 1s;
        font-family: Muli, Sans-Serif;
        font-weight: 400;
        position: relative;
        margin-top: -17%;
        margin-left: 35%;
        text-decoration: none;
        color: black;
        font-size: 16pt;
    }
    .pfptxt:link {
        text-decoration: none;
    }
    .pfptxt:visited {
        text-decoration: none;
    }
    .pfptxt:hover {
        transition: 1s;
        text-decoration: none;
        text-shadow: 0px 2px 4px rgba(0,0,0,0.25);
        box-shadow: -8px 0px 0px lightgray, 0px 4px 0px whitesmoke, 0px -4px 0px whitesmoke, -8px 4px 0px lightgray, -8px -4px 0px lightgray;
        background-color: whitesmoke;
        padding-left: 14px;
        margin-left: 4.4em;
    }
    .pfptxt:active {
        text-decoration: none;
    }
    .lefttitle {
        transition: 1s;
        width: 90%;
        height: 28px;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: Muli, Sans-Serif;
        font-size: 18pt;
        color: black;
        position: relative;
        top: 0px;
        box-shadow: 0px 2px 0px lightgray;
        padding: 12px 0px;
    }
    .lefttitle:hover {
        transition: 1s;
        width: 100%;
        box-shadow: 0px 2px 0px lightgray;
        font-size: 20pt;
        letter-spacing: 2px;
        padding-bottom: 12px;
    }
    .line {
        background-color: lightgray;
        width: 90%;
        height: 2px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 4px;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
