 body {
        margin: 0px;
    }
    .pagetitle {
        font-family: Muli, Sans-Serif;
        font-weight: 1000;
        background-color: #ff9900;
        color: white;
        font-size: 24pt;
        text-shadow: 0px 2px 0px gray;
        box-shadow: 0px 4px 0px #db870a, 0px 8px 16px rgba(0,0,0,0.25);
        display: block;
        width: 100%;
        height: 56px;
        text-align: center;
        padding-top: 12px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .navbar {
        overflow: hidden;
        background-color: #ff5d00;
        position: fixed;
        top: 0;
        width: 100%;
        font-family: Muli, Sans-Serif;
        z-index: 2;
    }
    .navbar:hover {
        border-bottom: none;
    }

    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 16px 24px;
        text-decoration: none;
        font-size: 16pt;
    }

    .navbar a:hover {
        background: orange;
        color: white;
        border-bottom: 4px solid #ED8600;
        transition: 0.5s;
    }
    .topbanner {
        width: 85%;
        height: 240px;
        position: relative;
        background-color: gray;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.5em;
    }
    .main {
        width: 85%;
        height: 1080px;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-family: Muli, Sans-Serif;
        font-weight: 100;
        font-size: 14pt;
    }
    .iframestyle {
        border: none;
        box-shadow: 0px 4px 16px rgba(0,0,0,0.25);
        display: block;
        width: 100%;
        height: 35%;
        max-width: 100%;
        max-height: 35%;
        z-index: 1;
    }
    .leftbar {
        
    }
    .menufooter{
        all: initial;
        display: block;
        width: 100%;
        height: 5%; 20px;
        min-height: 40px;
        overflow: hidden;
        background-color: #ff5d00;
        color: white;
        font-family: Muli, Sans-Serif;
        text-align: center;
        padding-top: 10px;
        box-sizing: border-box;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 3;
    }
    .pfpimgtop {
        width: 44px;
        height: 44px;
        position: relative;
        border-radius: 100%;
        max-width: 44px;
        min-width: 44px;
        max-height: 44px;
        min-height: 44px;
        margin-left: 10%;
        margin-top: 5%;
    }
    .pfpimg {
        width: 44px;
        height: 44px;
        position: relative;
        border-radius: 100%;
        max-width: 44px;
        min-width: 44px;
        max-height: 44px;
        min-height: 44px;
        margin-left: 10%;
        margin-top: 0%;
    }
    .pfpimg:hover, .pfpimgtop:hover {
        transition: 1s;
        box-shadow: 0px 4px 0px rgba(0,0,0,0.25);
    }
    .pfptxt {
        font-family: Muli, Sans-Serif;
        font-weight: 400;
        position: relative;
        margin-top: -17.5%;
        margin-left: 35%;
        text-decoration: none;
        color: black;
    }
    .pfptxt:link {
        text-decoration: none;
    }
    .pfptxt:visited {
        text-decoration: none;
    }
    .pfptxt:hover {
        text-decoration: none;
    }
    .pfptxt:active {
        text-decoration: none;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
